<input type="number" name="year" id="" required placeholder="Year" min="0" step="1" value="{{rowData.year}}"><br><br>

<select name="best_picture" id="select-best-picture" required>
	<option disabled selected value id="default">Select best picture</option>
	{{#each movieList}}
		<option value="{{this.movieID}}" {{selected ../movieID this.movieID}}>{{{this.movieTitle}}}</option>
	{{/each}}
</select><br><br>

<select name="lead_actor" id="" required>
	<option disabled selected value id="default">Select lead actor</option>
	{{#each actorList}}
		<option value="{{this.actorID}}" {{selected ../leadActorID this.actorID}}>{{{this.actor}}}</option>
	{{/each}}
</select><br><br>

<select name="lead_actress" id="" required>
	<option disabled selected value id="default">Select lead actress</option>
	{{#each actorList}}
		<option value="{{this.actorID}}" {{selected ../leadActressID this.actorID}}>{{{this.actor}}}</option>
	{{/each}}
</select><br><br>

<input type="hidden" name="add" value="awards">