<h1>{{tableTitle}}</h1>
<table border="1" class="{{firstCol}}">
  <tbody>
    <tr>
	  {{#each colList}}
        <th>{{this}}</th>
	  {{/each}}
	  <th></th>
	  <th></th>
    </tr>
	{{#each dataList}}
      <tr>
        {{#each this}}
		  <td>{{this}}</td>
		{{/each}}
	    <td><a href="/update?table={{../table}}&ID={{this.ID}}&ID2={{this.ID2}}">Edit</a></td>
		<td><a href="javascript:void(0);" onclick="confirmDel('{{../table}}','{{this.ID}}','{{this.ID2}}')">Delete</a></td>
	  </tr>
	{{/each}}
  </tbody>
</table>
<p><a href='/add?table={{table}}'>Add Row</a></p>
<br><br><br>

<script>
  var confirmDel = function(table, id, id2) {
    if (confirm("Are you sure you would like to delete this item?")) {
	  window.location.href = "/delete?table=" + table + "&ID=" + id + "&ID2=" + id2;
	} else {
	  return false;
	}
  };
</script>	